.PersonalizedAccountForm {
  padding: 20px;
}
.PersonalizedAccountForm img {
  width: 110px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
.PersonalizedAccountForm h1 {
  margin-bottom: 1px;
  color: #453D67;
}
.PersonalizedAccountForm p {
  line-height: 20px;
  color: #453D67;
}
.PersonalizedAccountForm_label {
  font-weight: 600;
}
.PersonalizedAccountForm_input,
.PersonalizedAccountForm_label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.PersonalizedAccountForm_input {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: -1px;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  padding-bottom: 2px;
  color: #545454;
  margin-left: 5px;
  
}
.PersonalizedAccountForm_input1 {
  display: flex;
  width: 110%;
  height: 40px;
  margin-top: -1px;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  padding-bottom: 2px;
  
}

.PersonalizedAccountForm_input:focus {
  border-bottom: 1px solid #255dab;
}

.input-border-focus {
  border-bottom: 1px solid #255dab;
}
/* input:invalid {   REMOVED ON CLIENTS REQUEST
  border: 2px solid red;
} */
.PersonalizedAccountForm_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
.PersonalizedAccountForm_btn button:disabled {
  background-color: #b6b6b6;
}
.PersonalizedAccountForm_btn button {
  width: 120px;
  border-radius: 100px;
  background-color: #5e79fb;
  font-weight: 600;
  color: #fff;
  border: none;
  outline: none;
  height: 35px;
}
